.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'WeibeiSC-Bold', 'Weibei SC' ;
 font-size: 48px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style3{font-family:  'Chalkboard' ;
 font-size: 24px; 
 color: #FEFEFE;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}